* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: Montserrat, sans-serife;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.img-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style-type: none;
}
button {
  cursor: pointer;
}
li {
  width: 320px;
}

.image {
  width: 100%;
  height: 100%;
  display: block;
}

.created-div {
  width: 30px;
  height: 30px;
}

#boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 10px;
}

#controls {
  display: flex;
  gap: 16px;
  padding: 32px;
  background-color: grey;
}
#controls input {
  width: 150px;
  height: 40px;
}
#controls button {
  width: 120px;
  height: 40px;
  border-radius: 8px;
  border: none;
}
#controls button {
  background-color: #4e75ff;
  color: white;
}
.widget button {
  width: 148px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
  color: white;
}
.widget p {
  color: white;
}
